@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap');
/* CSS reset of Browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_row{
    display: flex;
    width:50px;
    margin-left: 20px ;
    display: flex;
    position: absolute;
    padding: 20px;
}
.logo{
    width: 29px;
}
.heading {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
.heading h1 {
    color: white;
    font-size: 70px;
    font-weight: lighter;
    /* font-family: 'Schibsted Grotesk', sans-serif; */
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    
    
}
.heading h3 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 100px;
    /* font-family: 'Schibsted Grotesk', sans-serif; */
    letter-spacing: 3px;
    



}
#particles-js {
    background: black;
    height: 100vh;
}


/* .rotate {
   transform: rotate(180deg);
   background-image: linear-gradient(to right, #ff8a00, #e52e71);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
} */

/* .main  */
.hero_section{
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: max-content max-content;
}

html, body{
    line-height: 1.4;
    font-weight: 300;
    /* CSS text page wise implyment */
    font-family: 'Roboto', sans-serif;
}
/* hero section Image */
/* .hero_section{
    background-image: url(/images/nate-grant-QQ9LainS6tI-unsplash.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: antiquewhite;
} */
.text_container{
    color: black;
    max-width: 900px;
    margin: 0 auto; /* wnat to do text in center left right [auto] and top bottom [0]*/
    padding-top: 204px;
    padding-left: 16px;
}
/* Main text in targe form */
.lg_text{
    font-size: 72px;
    font-weight: 400;
    /* background-color: aquamarine; */
}
.black_box{
    /* background-color:#FCA311; */
    padding: 40px;
    height: 40vh;
    justify-content: center;
}
.black_box h2{
    font-weight: 400;
    /* color: white; */
    color: #000;
    /* color: #fff; */
    text-align: center;
    font-size: 72px;
    justify-content: center;
    font-family: "Sofia", sans-serif;
}
.black_box h2 span{
    font-weight: 400;
    font-size: 96px;
}

/* about */
.about_para{
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
    /* color: #FCA311; */
    color: #000;
    /* color: #fff; */
    /* text-align: center;
    justify-content: center; */
}

/* Using grid */

.work{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    margin: 50px auto;
    max-width: 1100px;
}
.grid_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 720px;
    height: 440px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1,1,0.2);
    /* Use transition to smooth effect hover over card */
    transition: 0.2s ease-in-out;
}
.image_conatainer{
        text-align: center;
}
.card:hover{
    /* card size increse after hover with mouse with transform */
    transform:scale(1.04);
    box-shadow: 3px 5px 5px rgba(1,1,1,0.3);
}
.card_content{
    padding: 20px;
}
.pro_text{
    padding: 20px;
    /* padding-bottom: 20px; */
    justify-content: center;
}
.card_content h3{
    margin-bottom: 10px;
    /* margin-left: 16px; */
}
.bottom_section{
    display: flex;
    background-color: #000;
    padding: 30px;
    padding-top: 70px;
    column-gap: 30px;
    /* justify-content: space-between; */
    

}
.project_text{
    /* color: #fff; */
    text-align: center;
    font-size: 72px;
    justify-content: center;
    font-family: "Sofia", sans-serif;
}
.contact{
    /* background-color: antiquewhite; */
    border-radius: 15px 50px 30px;
    padding: 20px;
    /* box-shadow: 0px 10px -14px 14px #d60404; */
    /* background: linear-gradient(to top, lime, 20%, cyan); */

    background: linear-gradient(70deg, rgb(135, 226, 132), rgb(77, 185, 202));
}
.about{
    /* background-color:azure; */
    border-radius: 15px 50px 30px;
    padding: 20px;
    background: linear-gradient(70deg, rgb(112, 112, 201), pink);

}
.contact, .about{
    min-height: 300px;
    padding: 32px;
    color: black;
}
.contact h2, .about h2{
    font-size: 64px;
    font-weight: 300;
}
.contact p, .about p{
    margin-bottom: 20px;
    text-align: justify;
  text-justify: inter-word;
}
/* Align items with space between them */
/* footer {
    display: flex;
    justify-content: space-between; 
    background-color: #000;
    color: white;
    padding: 30px;
} */
.right-text{
color: #FCA311;
font-family: "Sofia", sans-serif;
}
/* Grow to fill available space equally */
/* .centered-text {
    flex: 1; 
    text-align: center;
}
.logo_Bottom{
    width: 25px;
    margin-left: 10px;
} */
@media (max-width: 486px){
    .project_text{
        padding-top: 30px;
    }
}


@media (max-width: 786px) {
    .hero_section{
        min-height: 50vh;
    }
    .text_container{
        padding: 10px 0;
        text-align: center;
        padding-top: 104px;

    }
    .lg_text{
        font-size: 32px;
    }
  
    .black_box h2{
        font-size: 64px;
    }
    .black_box h2 span{
        font-weight:400 ;
        font-size: 32px;
    }
    .bottom_section{
        flex-direction: column;
        row-gap: 30px;
        padding-top: 90px;
    }
    h1{
        font-size: 32px;
    }
    .contact h2, .about h2{
        font-size: 32px;
    }
    .heading h3{
        font-size: 42px;
        
        
    }
   .label_text{
    padding-left: 20px;
}
#name, #email, #message{
       padding-left: 20px;

   }
  #btn{
    padding-left: 30px;
    align-items: center;
    text-align: center;
  }
  .about_para{
    font-size: 15px;
    /* justify-content: center;
    text-align: center;
    align-items: center; */
    /* font-size: 20px; */
  }
  .grid_item{
    padding: 20px;
  }
  
  .pro_text{
    font-size: 10px;
  }
 
  .card{
    /* max-width: 120px; */
    min-width: 100px;
    border-radius: 20px;
  }
  .image_conatainer{
    text-align: center;

}
img{
    width: 300px;
}

 
 
}
/* start constct */

/* end contact  */

.footer_main{
    background-color: #000;
    box-shadow: 3px 5px 5px white;
    transition: 0.2s ease-in-out;

}
.Twitter:hover{
    /* card size increse after hover with mouse with transform */
    transform:scale(1.04);
    /* box-shadow: 3px 5px 5px rgba(1,1,1,0.3); */
}
.Linkedin:hover{
    transform:scale(1.04);
    /* box-shadow: 3px 5px 5px rgba(1,1,1,0.3); */

}
.Github:hover{
    transform:scale(1.04);
    /* box-shadow: 3px 5px 5px rgba(1,1,1,0.3); */

}
.gmail:hover{
    transform:scale(1.04);

}
.contact_section{
    background-color: #000;
}
.label_text{
    color: white;
   
}
.form_main{
    border-style: none;
    border: none;
}
h5 {
    text-align : center;
 }
 form { margin : auto; max-width: 500px;
    
 }
 label { 
    display : block; margin-bottom: 10px;
 }
 input[type = "text"], input[type = "email"], textarea { padding: 10px; width: 100%; border-radius: 4px; box-sizing: border-box; margin-bottom: 20px;
 }
 textarea{
    background-color: transparent;
    border: 0px solid;
    color: #CCC;
    outline: none;
    /* border-bottom: 1px solid white; */
 }
 input{
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
    border-bottom: 0px solid white;
    outline: none;
}
.contact_text{
    color: white;
    padding: 90px;
    font-size:90px;
    padding-bottom: 20px;
}

 .submit{ 
    background-color : #4CAF50;
    color : #fff;
    padding : 10px 20px; border :  none; border-radius : 4px; cursor : pointer;
    outline: none;
 }
 .submit:hover { 
    background-color : #3e8e41;
 }
 ::placeholder{
    color: #3e8e41;
    opacity: 1;
 }